In [2]:
import pandas as pd

In [3]:
dataset = pd.read_csv(r"C:\Projects_ciência_dados\DEPRESSAO_ESTUDANTIL\data\processed\clean_step1.csv")

In [4]:
dataset.columns

Index(['id', 'Gender', 'Age', 'City', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'High-School',
       'Bachelors', 'Masters', 'Doctorate', 'Depression'],
      dtype='object')

In [5]:
dataset.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,...,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,High-School,Bachelors,Masters,Doctorate,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,...,B.Pharm,Yes,3.0,1.0,No,0,1,0,0,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,...,BSc,No,3.0,2.0,Yes,0,1,0,0,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,...,BA,No,9.0,1.0,Yes,0,1,0,0,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,...,BCA,Yes,4.0,5.0,Yes,0,1,0,0,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,...,M.Tech,Yes,1.0,1.0,No,0,0,1,0,0

In [6]:
dataset.isnull().sum()

id                                       0
Gender                                   0
Age                                      0
City                                     0
Profession                               0
Academic Pressure                        0
Work Pressure                            0
CGPA                                     0
Study Satisfaction                       0
Job Satisfaction                         0
Sleep Duration                           0
Dietary Habits                           0
Degree                                   0
Have you ever had suicidal thoughts ?    0
Work/Study Hours                         0
Financial Stress                         0
Family History of Mental Illness         0
High-School                              0
Bachelors                                0
Masters                                  0
Doctorate                                0
Depression                               0
dtype: int64

In [8]:
negativas = dataset.select_dtypes(["int", "float"])
(negativas<0).any().sum()

np.int64(0)

In [9]:
dataset.columns

Index(['id', 'Gender', 'Age', 'City', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'High-School',
       'Bachelors', 'Masters', 'Doctorate', 'Depression'],
      dtype='object')

In [10]:
dataset.shape[1]

22

In [11]:
x_previsores = dataset.iloc[:,1:21]

In [13]:
x_previsores.columns

Index(['Gender', 'Age', 'City', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'High-School',
       'Bachelors', 'Masters', 'Doctorate'],
      dtype='object')

In [16]:
y_classe = dataset.iloc[:,21]
y_classe

0        1
1        0
2        0
3        1
4        0
        ..
27896    0
27897    0
27898    0
27899    1
27900    1
Name: Depression, Length: 27901, dtype: int64

In [35]:
categoricas = x_previsores.select_dtypes(include=["object"])
indices_categoricos = [x_previsores.columns.get_loc(i) for i in categoricas]

In [36]:
indices_categoricos

[0, 2, 3, 9, 10, 11, 12, 14, 15]

In [37]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [38]:
onehot = ColumnTransformer(transformers=[("one_hot", OneHotEncoder(), indices_categoricos)], remainder="passthrough")

In [39]:
x_previsores = onehot.fit_transform(x_previsores)

In [40]:
type(x_previsores)

scipy.sparse._csr.csr_matrix

In [41]:
x_previsores.shape[1]

126

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
standard = StandardScaler(with_mean=False)

x_previsores = standard.fit_transform(x_previsores)

In [44]:
from sklearn.model_selection import train_test_split

In [45]:
x_train, x_test, y_train, y_test = train_test_split(x_previsores, y_classe, test_size=0.25, random_state=0)

In [46]:
x_train.shape

(20925, 126)

In [47]:
y_train.shape

(20925,)

In [48]:
x_test.shape

(6976, 126)

In [49]:
y_test.shape

(6976,)

In [52]:
x_train_array = x_train.to_array()

AttributeError: 'csr_matrix' object has no attribute 'to_array'

In [ ]:
x_train_array = x_train.to_csv("../data/processed/clean_step2")

AttributeError: 'csr_matrix' object has no attribute 'to_csv'